<!DOCTYPE html>
<html>
  <head>
  	<title>FusionCharts || www.fusioncharts.com</title>
  </head>
  <body style="font-family:‘Helvetica Neue’, Arial; font-size: 16px;">
      <h1>FusionCharts Samples for Django</h1>
      <ol>	  
		<li><a href="/Line-Chart-With-Time-Axis">Line chart with time axis</a></li>
		<li><a href="/Plotting-Multiple-Series-On-Time-Axis">Plotting multiple series on time axis</a></li>		
		<li><a href="/Column-and-line-combination-on-time-axis">Column and line combination on time axis</a></li>
		<li><a href="/Plotting-Two-Variables">Plotting two variables (measures)</a></li>		
		<li><a href="/Different-Plot-Type-Chart">Different plot type for each variable (measure)</a></li>
		<li><a href="/ColumnChart-With-Time-Axis">Column chart with time axis</a></li>		
		<li><a href="/AreaChart-With-Time-Axis">Area chart with time axis</a></li>
		<li><a href="/Interactive-candlestick-chart">Interactive candlestick chart</a></li>		
		<li><a href="/Annotating-single-data-point">Annotating single data point</a></li>
		<li><a href="/Single-Event-Overlay">Single event overlay</a></li>		
		<li><a href="/Date-range-event-overlay">Date range event overlay</a></li>
		<li><a href="/Adding-Reference-Line">Adding a reference line</a></li>	
        <li><a href="/rendering-column2d-chart-using-dictionary-example">Simple Chart Using Array</a></li>
        <li><a href="/rendering-angular-gauge-using-dictionary-example">Simple Widget Using Array</a></li>
        <li><a href="/rendering-map-using-dictionary-example">Simple Map Using Array</a></li>
        <li><a href="/rendering-angular-gauge-using-json-example">Angular Gauge</a></li>
        <li><a href="/client-side-chart-export">Export Chart As Image (client-side)</a></li>
        <li><a href="/export-chart-using-export-handler">Export Chart As Image (server-side)</a></li>
        <li><a href="/drilldown-from-database-example">Chart with Drill-Down Feature</a></li>
        <li><a href="/rendering-multiseries-column2d-chart-using-json-example">Multiseries Column 2D Chart</a></li>
        <li><a href="/rendering-column-line-area-combi-using-json-example">Multiseries Combination 3D Chart</a></li>        
        <li><a href="/rendering-pie3d-using-json-example">Pie 3D Chart</a></li>
        <li><a href="/rendering-multiseries-StackedColumn2dline-using-json-example">Stacked Column 2D with Line Chart</a></li>
        <li><a href="/fetching-data-from-database">Chart Using Database (SQLite3)</a></li>
        <li><a href="/rendering-map-using-json-example">USA Map</a></li>
        <li><a href="/rendering-charts-by-common-theme">Chart Themes</a></li>
        <li><a href="/fetching-xml-data-from-url">Chart using data from XML URL</a></li>
        <li><a href="/fetching-json-data-from-url">Chart using data from JSON URL</a></li>
        <li><a href="/dynamic-chart-resize">Dynamic Chart Resize</a></li>
        <li><a href="/dynamic-chart-type">Chart Type Change At Runtime</a></li>
        <li><a href="/chart-annotation">Using Annotations On Chart</a></li>
        <li><a href="/chart-update-onclick">Updating Different Chart</a></li>
        <li><a href="/rendering-chart-with-different-language">Different language example</a></li>
        <li><a href="/chart-special-chart">Chart using special character in XML data format</a></li>
        <li><a href="/chart-tooltip">Customizing tooltip</a></li>
        <li><a href="/product-life-cycle-event">Example of event(product life cycle event)</a></li>
        <li><a href="/special-event">Example of event(interactive event)</a></li>
        <li><a href="/chart-message">Message related attributes and configuration</a></li>
        <li><a href="/interactive-event">Example of event(interactive event)</a></li>
        <li><a href="/number-format-module">Example of event(Number format)</a></li>
        <li><a href="/special-chart-type-api">Example of event(SpecialChartType API)</a></li>
        <li><a href="/chart-instance-level-api">Add/Remove event at runtime(Chart instance level API)</a></li>
        <li><a href="/chart-product-level-api">Example of product level API</a></li>
        <li><a href="/updating-chart-properties">Updating chart properties at runtime</a></li>
        <li><a href="/highlight-specific-data-points">Highlight specific data points through API</a></li>
        <li><a href="/update-data-runtime">Update data at runtime</a></li>
        <li><a href="/get-data-from-scatter-chart">Get data from select scatter chart and show them in tabular format</a></li>

        
      </ol>
  </body>
</html>