<!DOCTYPE html>
<html>
  <head>
  	<title>FusionCharts || www.fusioncharts.com</title>
  	<style type="text/css">
      	a{
      		text-decoration: none;
      		color: rgba(34,25,59,.9);
      	}
      	a:hover {
          text-decoration: underline;
          color: black;
        }
  	</style>
  </head>
  <body>
      <h2><a href="">FusionCharts</a></h2>
      <h4>samples are</h4>
      <ol>
      	<li><a href="/static-json-example">static-json-example</a></li>
        <li><a href="/static-xml-example">static-xml-example</a></li>
        <li><a href="/dict-json-example">dict-json-example</a></li>
        <li><a href="/dict-xml-example">dict-xml-example</a></li>
        <li><a href="/mul-col2d-using-dict">render multiseries column2d chart</a></li>
        <li><a href="/render-column-2d-using-database">render column2d chart-1 using database</a></li>
        <li><a href="/database-example">render column2d chart-2 using database</a></li>
        <li><a href="/database-drilldown-example">A drilldown example using database</a></li>
        <li><a href="/annotation-example">annotation-example</a></li>
        <li><a href="/map-example">map-example</a></li>
        <li><a href="/gantt-chart-example">gantt-chart-example</a></li>
        <li><a href="/angular-gauge-example">angular-gauge-example</a></li>
        <li><a href="/linked-chart-single-level-example">linked-chart-single-level-example</a></li>
        <li><a href="/single-series-chart-example">single-series-chart-example</a></li>
        <li><a href="/multi-series-chart-example">multi-series-chart-example</a></li>
        <li><a href="/xy-chart-example">xy-chart-example</a></li>
        <li><a href="/render-3d-pie-chart">3d-pie-example</a></li>
        <li><a href="/render-column-line-area-combi-chart">mscombi-example</a></li>
        <li><a href="/fetching-data-from-json-url">fetching-data-from-jsonurl-example</a></li>
        <li><a href="/fetching-data-from-xml-url">fetching-data-from-xmlurl-example</a></li>
        <li><a href="/client-side-chart-export">client-side-chart-export-example</a></li>
        <li><a href="/render-angular-and-gauge">rendering-angular-and-gaug-chart</a></li>
        <li><a href="/render-pyramid-and-funnel-charts">rendering-pyramid-and-funnel-charts</a></li>
      </ol>
  </body>
</html>